<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/time.css}" />
</head>
<body>
  <p th:text="${student.LastName} + ' : ' +  ${student.FirstName}  + ' .. xx'" class="funny" />
  <p th:text="'Country : ' + ${student.country}" class="funny" />
  <br>
  <p th:text="'Language : ' + ${student.favoritePL}" class="funny" />

  <br>
  <div>
      <span> OS </span>
      <ul>
          <li th:each="o : ${student.favoriteOs}" th:text="${o}" />
      </ul>

  </div>


</body>
</html>