<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World - Input form </title>
</head>
<body>
    <form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
        First Name : <input type="text" th:field="*{firstName}" placeholder="Name of Student" />
        Last Name : <input type="text" th:field="${student.lastName}" placeholder="Name of Student" />
        <br>
        <select th:field="*{country}">
            <option th:each="c : ${countries}" th:value="${c}" th:text="${c}" />
        </select>

        <input type="radio" th:each="p : ${programmingLanguages}" th:field="*{favoritePL}" th:value="${p}" th:text="${p}" />

        <input type="checkbox" th:each="o : ${oses}" th:field="*{favoriteOs}" th:value="${o}" th:text="${o}" />




        <input type="submit" />
    </form>
</body>
</html>