<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World - Input form </title>
</head>
<body>
    <form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
        First Name : <input type="text" th:field="*{firstName}" placeholder="Name of Student" />
        Last Name : <input type="text" th:field="${student.lastName}" placeholder="Name of Student" />
        <br>
        <select th:field="*{country}">
            <option th:each="c : ${countries}" th:value="${c}" th:text="${c}" />
        </select>

        <input type="radio" th:field="*{favoritePL}" th:value="C"> C++ </input>
        <input type="radio" th:field="*{favoritePL}" th:value="Rust"> Rust </input>
        <input type="radio" th:field="*{favoritePL}" th:value="Python"> Python </input>
<!--        <select type="checkbox" th:field="*{favoritePL}">-->
<!--            <option th:each="p : ${programmingLanguages}" th:value="${p}" th:text="${p}" />-->
<!--        </select>-->
        <input type="submit" />
    </form>
</body>
</html>